html {
    height: 100%;
}

body  {
  background-image: url("../assets/blackjackBackground.jpg");
  background-repeat: no-repeat;
  background-size:  100% 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 80%;
  display: flex;
}


.navbar {
  background-image: url("../assets/bottomBarBackground.jpg");
  /*background-repeat: no-repeat;
   background-size:  100% 100%;
  height: 100%; */
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.rules {
  position: absolute;

  margin:auto;
  right:0;
  left:0;
  top:200px;
}

.placeBetButton {
  border: none;
  background-color: rgba(0,0,0,0.5);;
  border:2px solid #553030;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* border-radius: 25px;
  width: 200px; */
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.placeBetButton:hover {
  opacity: 0.5;
}

.placeBetButton2{
  position: absolute;
  left: 10%;
  bottom: 220px;
}

.placeBetButton1 {
  position: absolute;

  margin:auto;
  right:0;
  left:0;
  bottom: 20%;
}

.placeBetButton0 {
  position: absolute;
  right: 10%;
  bottom: 220px;
}

.chips {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  text-align: center;
}

.nav-bar-button{
  border: white solid;
  padding: 10px;
  opacity: 0.6;
  font-size: 42px;
  border-radius: 12px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: white;
  margin-top: 25%;
}

.chip:hover {
  cursor: pointer;
}

.selected {
  border:5px solid #FFFFFF;
  border-radius: 50%;
  border-style: dashed;
  box-sizing: content-box;
}

.centered-betAmount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.spades {
  width: 90px;
  height: 100px;
  background: url(../assets/suits.png) 0 0;
}

.hearts {
  width: 90px;
  height: 100px;
  background: url(../assets/suits.png) -105px 0;
}

.diamonds{
  width: 90px;
  height: 100px;
  background: url(../assets/suits.png) 0 -100px;
}

.clubs {
  width: 90px;
  height: 100px;
  background: url(../assets/suits.png) -105px -100px;
}

.card {
  width: 98px;
  height: 138px;
  background: white;
  border-radius: 12px;

}

.value {

  margin-top: 5px;
  margin-left: 5px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 24px;
}

.seat0card0 {
  position: absolute;
  right: 14%;
  bottom: 48%;
}

.seat0card1 {
  position: absolute;
  right: 12%;
  bottom: 50%;
}

.seat0card2 {
  position: absolute;
  right: 10%;
  bottom: 52%;
}

.seat0card3 {
  position: absolute;
  right: 8%;
  bottom: 54%;
}

.seat0card4 {
  position: absolute;
  right: 6%;
  bottom: 56%;
}

.seat0card5 {
  position: absolute;
  right: 4%;
  bottom: 58%;
}

.seat0card6 {
  position: absolute;
  right: 2%;
  bottom: 60%;
}

.seat0card7 {
  position: absolute;
  right: 0%;
  bottom: 62%;
}

.seat2card0 {
  position: absolute;
  left: 12%;
  bottom: 48%;
}

.seat2card1 {
  position: absolute;
  left: 14%;
  bottom: 50%;
}

.seat2card2 {
  position: absolute;
  left: 16%;
  bottom: 52%;
}

.seat2card3 {
  position: absolute;
  left: 18%;
  bottom: 54%;
}

.seat2card4 {
  position: absolute;
  left: 20%;
  bottom: 56%;
}

.seat2card5 {
  position: absolute;
  left: 22%;
  bottom: 58%;
}

.seat2card6 {
  position: absolute;
  left: 24%;
  bottom: 60%;
}

.seat2card7 {
  position: absolute;
  left: 26%;
  bottom: 62%;
}

.seat1card0 {
  position: absolute;
  left: 44%;
  bottom: 42%;
}

.seat1card1 {
  position: absolute;
  left: 46%;
  bottom: 44%;
}

.seat1card2 {
  position: absolute;
  left: 48%;
  bottom: 46%;
}

.seat1card3 {
  position: absolute;
  left: 50%;
  bottom: 48%;
}

.seat1card4 {
  position: absolute;
  left: 52%;
  bottom: 50%;
}

.seat1card5 {
  position: absolute;
  left: 54%;
  bottom: 52%;
}

.seat1card6 {
  position: absolute;
  left: 56%;
  bottom: 54%;
}

.seat1card7 {
  position: absolute;
  left: 58%;
  bottom: 56%;
}