html {
    height: 100%;
}

body  {
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size:  100% 100%;
  height: 100%;
}



.main-content {
  width: 100%;
  height: 90%;
}


.btn-2h {
    border-radius: 20px;
}
.btn-2 {
    background: #c03737;
    color: #fff;
    box-shadow: 0 6px #ab3c3c;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.btn {
    border: none;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
