
.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  border-bottom-color: #685353;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/* .topnav a {

  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
} */


.balance {
  float: right;
  font-size: 50px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.blinking{
  animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #d8d875; }
  50%{    color: #d8d875; }
  99%{    color: #d8d875;  }
  100%{   color: #000;    }
}

.bankroll {
  color: green;
}


.logo {
  margin-left: 50px;
}

.x {
  float: right;
}